{%- style -%}
    .quotesContainer{
        margin: 100px;
        text-align: center;
    }

{%- endstyle -%}
<div class="quotesContainer">
    <h1 style="font-size: 26px">
        Ride the Powder- Snowboarding Adventures Await
    </h1>
    <p>
        Snowboarding is an exhilarating winter sport where riders glide down snow-covered slopes on a single board, balancing skill and style. With origins in the 1960s, it has evolved into a popular pastime, offering a thrilling mix of speed, tricks, and breathtaking mountain scenery, attracting enthusiasts worldwide.
    </p>
</div>
